<div class="bg-light p-5 rounded">
    <h1>Homepage</h1>

    <% if (mahasiswa.length<1) { %>
        <p>Data mahasiswa masih kosong</p>
    <% } %>
    <% mahasiswa.forEach(mhs => { %>
        <ul>
            <li>Name: <%= mhs.name %></li>
            <li>Email: <%= mhs.email %></li>
        </ul>
    <% }) %>
    <p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain fixed to the top of your browser’s viewport.</p>
    <a class="btn btn-lg btn-primary" href="/docs/5.0/components/navbar/" role="button">View navbar docs &raquo;</a>
</div>